---
import CardContainer from "./CardContainer.astro";
import CardBody from "./CardBody.astro";
import {workExperience} from "@/types/workExperience.ts";
---
{workExperience.map((job) => (
    <CardContainer
        cardContainerClass="border-b rounded-none border-neutral-200"
    >
        <div class="collapse collapse-arrow">
            <input type="checkbox" />
            
            <div class="collapse-title">
                <div class="flex justify-between items-center">
                    <div>
                        <h2 class="text-sm font-bold">{job.company}</h2>
                        <p class="text-sm text-gray-500">{job.position}</p>
                    </div>
                    <span class="text-sm">{job.dateRange}</span>
                </div>
            </div>

            <div class="collapse-content">
                <CardBody>
                    <ul class="list-disc list-inside text-xs text-justify space-y-2 ml-2">
                    {job.description.map((item) => (
                        <li>{item}</li>
                    ))}
                    </ul>
                </CardBody>
            </div>
        </div>
    </CardContainer>
))}