---
import CardBody from "@/components/Cards/CardBody.astro";
import CardContainer from "@/components/Cards/CardContainer.astro";
import Layout from "@/layouts/Layout.astro";
import projects from "@/types/projectsData.json";
import IconArray from "@/components/IconArray.astro";

var projectsCount = projects.length;
---

<Layout title="Projects | Raynhard Anthony Yray">
  <div class="flex flex-col gap-3 space-y-3">
    <div>
      <h1 class="text-2xl">Projects[{projectsCount}]</h1>
      <p>(work in progress)</p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
      {
        projects.map((project) => (
          <CardContainer
            cardContainerSize="md"
            cardContainerImg={project.image}
            cardContainerClass="border-2 border-transparent hover:border-[#d2dee4]"
          >
            <CardBody cardBodyTitle={project.title}>
              <div class="">
                <p class="text-justify">{project.description}</p>

                <div class="card-actions justify-between items-center mt-3">
                  <div>
                    <a
                      href={project.link}
                      class="font-bold text-lg hover:underline underline-offset-8"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      /link
                    </a>

                    <a
                      href={project.github}
                      class="font-bold text-lg hover:underline underline-offset-8"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      /github
                    </a>
                  </div>
                  <IconArray iconItems={project.tags} />
                </div>
              </div>
            </CardBody>
          </CardContainer>
        ))
      }
    </div>
  </div>
</Layout>
