---
import AboutList from '@/components/AboutList.astro';
---
<div class="flex flex-col space-y-2">
    <h1 class="text-md font-bold">About</h1>
    
    <div class="flex flex-col">
        <AboutList
            iconName="location"
            label="Cagayan de Oro, Philippines"
            isLink={false}
        />

        <AboutList
            iconName="education"
            label="Xavier University - Ateneo de Cagayan"
            isLink={true}
            href="https://www.xu.edu.ph/"
            target={true}
        />

        <AboutList
            iconName="email"
            label="raynhardanthonyyray2001@gmail.com"
            isLink={true}
            href="mailto:raynhardanthonyyray2001@gmail.com"
        /> 

        <AboutList
            iconName="github"
            label="GitHub"
            isLink={true}
            href="https://github.com/raynhardyray"
            target={true}
        />

        <AboutList
            iconName="linkedin"
            label="LinkedIn"
            isLink={true}
            href="https://www.linkedin.com/in/raynhard-anthony-yray-44658b27a/"
            target={true}
        />

        <AboutList
            iconName="resume"
            label="View Resume"
            isLink={true}
            href="https://drive.google.com/file/d/10MJCHop8I_d3bGOpMTs-6db5qszWO3Z3/view?usp=drivesdk"
            target={true}
        />
    </div>
</div>